*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.main{
    background: rgb(60, 212, 232);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}